.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color:#E5E5E5;
}

/* @font-face {
  font-family: 'SF-Font-Pro';
  src: local('SF-Font-Pro'), url(./fonts/SF-Font-Pro.dmg) format('opentype')
} */


